A1 - Website UI v2/A1 - Website UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
A1 - Website UI v2/A1 - Website UI/A1 - Website UI.csproj
*.dll
A1 - Website UI v2/A1 - Website UI/bin/A1 - Website UI.pdb
A1 - Website UI v2/A1 - Website UI.v12.suo
*.csproj
A1 - Website UI v2/A1 - Website UI/A1 - Website UI.csproj
*.dll
A1 - Website UI v2/.vs/config/applicationhost.config
A1 - Website UI v2/A1 - Website UI/obj/Debug/A1 - Website UI.csprojResolveAssemblyReference.cache